<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qunar.liwei.graduation.weibo_crawler.weiboMapper">
	<cache/>
	<insert id="saveWeibo" parameterType="Weibo" flushCache="true">
		insert into sinaweibo_liangbin_data
		values(null,#{userName},#{type},#{commontText}, 
		#{imageUrl},#{from},#{forwardReason},#{time},now())
	</insert>
	
	<select id="isWeiboExist" parameterType="Weibo" resultType="Integer">
		SELECT Count(id) FROM sinaweibo_liangbin_data
		WHERE nickName=#{userName} AND weibo=#{commontText} AND
		type=#{type} AND time=#{time}
	</select>
	
	<insert id="saveFollow" parameterType="WeiboUser" flushCache="true">
		insert into sinaweibo_follow
		values(null,#{name},#{followsName})
	</insert>
	
	<select id="isFollowSaved" parameterType="WeiboUser" resultType="String">
		SELECT `userName` FROM sinaweibo_follow 
		WHERE userName=#{name};
	</select>
	
	<select id="getMinDate" parameterType="String" resultType="java.sql.Timestamp">
		select MIN(time) from sinaweibo_liangbin_data
		where nickName=#{userName}
	</select>
	
	<select id="getMaxDate" parameterType="String" resultType="java.sql.Timestamp">
		select MAX(time) from sinaweibo_liangbin_data
		where nickName=#{userName}
	</select>
	

	
</mapper>